@model   HOTBOXWebsite.Models.ProjectOverviewViewModel

@{
    ViewBag.Title = "Main";
}



<h2>Main</h2>



<div style="border: 2px solid black">
   @using (Html.BeginForm("Index", "Home", FormMethod.Get)) {
        <select name="id" onchange="this.form.submit()">
        <option value="Select">Select</option>
        @foreach (var item in Model.projects)
        {
            if (Model.SelectedProject != null && Model.SelectedProject.Id == item.Id)
            {
                <option value="@item.Id" selected="selected">@item.project.ProjectName</option>
            }
            else
            {
                <option value="@item.Id">@item.project.ProjectName</option>
            }

        }
    </select>
   }

    <table style="width:100%">
        @using (Html.BeginForm("CreateProject", "Home", FormMethod.Post))
            {
            <tr><td width="40%"><B>Set-Værdier</B></td></tr>
            <tr><td>Projektnavn: </td><td><input id="ProNavn" type="text" name="projektnavn"></td></tr>


                <tr><td>Starttidspunkt: </td><td><div class="input-group">@Html.EditorFor(model => model.SelectedProject.project.StartTime, new { htmlAttributes = new { @class = "form-control datetimepicker" } }) <span class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span></span> </div></td></tr>

               
                
                 <tr><td>Sluttidspunkt: </td><td><div class="input-group">@Html.EditorFor(model => model.SelectedProject.project.EndTime, new { htmlAttributes = new { @class = "form-control datetimepicker" } }) <span class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span></span> </div></td></tr>
              
                 
                   <tr><td colspan="5" align="right"> <input id="Opretbtn" type="submit" value="Opret projekt"> </td></tr>
        }

    </table>
</div>
<div style="border: 2px solid black">
    <table style="width:100%">

        <tr><td width="40%"><B>Beregninger</B></td></tr>
        <tr><td>Areal af testemne: </td><td><input id="BAreal" type="text" name="Areal" style="background-color: #008215" onchange="OnArealChange(this);"></td></tr>
        <tr><td>Beregnings starttidspunkt: </td><td>@Html.EditorFor(model => model.SelectedProject.project.StartTime)</td> </tr>
        <tr><td>Beregnings sluttidspunkt: </td><td>@Html.EditorFor(model => model.SelectedProject.project.EndTime)</td> </tr>
        <tr><td>Testtid: </td><td><input id="BTestTid" type="text" name="TidfraStartDag" style="background-color: #008215">d</td> <td><input type="text" name="TidfraStartTime" style="background-color: #008215">t</td> <td><input type="text" name="TidfraStartMinut" style="background-color: #008215">m</td> <td><input type="text" name="TidfraStartSekund" style="background-color: #008215">s</td></tr>
        <tr><td>Gennemsnitlig temperaturforskel mellem box 1 og box 2: </td><td><input id="BGenSnitTempBox1Box2" type="text" name="SnitTempForskel"></td></tr>
        <tr><td>Effektforbrug (målerstand) ved starttidspunkt: </td><td><input id="BEffektStart" type="text" name="EffektforbrugStart"></td></tr>
        <tr><td>Effektforbrug (målerstand) ved sluttidspunkt: </td><td><input id="BEffektSlut" type="text" name="EffektforbrugSlut"></td></tr>
        <tr><td>Effektforbrug i beregningsperioden: </td><td><input id="BEffektBPerioden" type="text" name="EffektforbrugBeregnPeriode"></td></tr>
        <tr><td>Testemnets transmissionskoefficient: </td><td><input id="BTransKoeff" type="text" name="transmissionsKoeff"></td></tr>

    </table>
</div>

<div class="input-group">
    @Html.EditorFor(model => model.SelectedProject.project.StartTime, new { htmlAttributes = new { @class = "form-control datetimepicker" } })
    <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
    </span>
</div>

@section scripts
{
    <script type="text/javascript">

       $(document).ready(function () {
            console.log('ost');
            $('.datetimepicker').datetimepicker();
       });



    </script>
}