@model   HOTBOXWebsite.Models.ProjectOverviewViewModel

@{
    ViewBag.Title = "Main";
}



<h2>Main</h2>



<div style="border: 2px solid black">


    <table style="width:100%">
        @using (Html.BeginForm("CreateProject", "Home", FormMethod.Post))
            {
            <tr><td width="40%"><B>Set-Værdier</B></td></tr>
            <tr><td>Projektnavn: </td><td><input id="ProNavn" type="text" name="projektnavn"></td></tr>


                <tr><td>Starttidspunkt: </td><td><div class="input-group"> <input class="form-control datetimepicker" name="startTime" id="startTime"> <span class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span></span> </div></td></tr>

               
                
                 <tr><td>Sluttidspunkt: </td><td><div class="input-group">  <input class="form-control datetimepicker" name="endTime" id="endTime"> <span class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span></span> </div></td></tr>
              
                 
                   <tr><td colspan="5" align="right"> <input id="Opretbtn" type="submit" value="Opret projekt"> </td></tr>
        }

    </table>
</div>
<div style="border: 2px solid black">
    <table style="width:100%">
        <tr><td>
        @using (Html.BeginForm("Index", "Home", FormMethod.Get))
        {
            <select name="id" onchange="this.form.submit()">
                <option value="Select">Select</option>
                @foreach (var item in Model.projects)
                {
                    if (Model.SelectedProject != null && Model.SelectedProject.Id == item.Id)
                    {
                        <option value="@item.Id" selected="selected">@item.project.ProjectName</option>
                    }
                    else
                    {
                        <option value="@item.Id">@item.project.ProjectName</option>
                    }

                }
            </select>
        }
            </td></tr>
        <tr><td width="40%"><B>Beregninger</B></td> <td> <input type="button" value="↻" onclick="RefreshPage()"> </td> </tr>
        <tr><td>Areal af testemne: </td><td> <input type="text" id="BAreal" name="Areal" style="background-color: #008215" onchange="CalculateTransmission();">
        <tr><td>Beregnings starttidspunkt: </td><td> @Html.DisplayFor(model => @Model.SelectedProject.project.ProjectCalculations.StartTime) </td> </tr>
        <tr><td>Beregnings sluttidspunkt: </td><td>@Html.DisplayFor(model => @Model.SelectedProject.project.ProjectCalculations.EndTime) </td> </tr>
        <tr><td>Testtid(Timer): </td><td> @Html.DisplayFor(model => @Model.SelectedProject.project.ProjectCalculations.TestTimeHours) </td></tr>
        <tr><td>Testtid(Sekunder): </td><td> <p id="CTestTidS"> @Html.DisplayFor(model => @Model.SelectedProject.project.ProjectCalculations.TestTimeSeconds)<p></td></tr>
        <tr><td>Gennemsnitlig temperaturforskel mellem box 1 og box 2: </td><td> <p id="CMiddelTemp"> @Html.DisplayFor(model => @Model.SelectedProject.project.ProjectCalculations.AverageTemp)</p> </td></tr>
        <tr><td>Effektforbrug (målerstand) ved starttidspunkt: </td><td><p id="CEffStart">@Html.DisplayFor(model => @Model.SelectedProject.project.ProjectCalculations.PowerConsumptionStart) </p> </td></tr>
        <tr><td>Effektforbrug (målerstand) ved sluttidspunkt: </td><td><p id="CEffSlut">@Html.DisplayFor(model => @Model.SelectedProject.project.ProjectCalculations.PowerConsumptionEnd) </p> </td></tr>
        <tr><td>Effektforbrug i beregningsperioden: </td><td> <p id="CEffRest"> @Html.DisplayFor(model => @Model.SelectedProject.project.ProjectCalculations.PowerConsumptionDifference) </p> </td></tr>
        <tr><td>Testemnets transmissionskoefficient: </td><td> <p id="Transmission"></p></td></tr>

    </table>
</div>


@section scripts
{
    <script type="text/javascript">

        //CHANGE FORMAT TO "dd-mm-yyyy hh:mm:ss" !!!!!

       $(document).ready(function () {
            console.log('ost');
            $('.datetimepicker').datetimepicker({
               
            });
       });

       function RefreshPage() {
           window.location.reload();
       }

       function CalculateTransmission() {

           var Areal = parseFloat(document.getElementById("BAreal").value);
           var EffRest = parseFloat(document.getElementById("CEffRest").innerHTML);
           var TestTidS = parseFloat(document.getElementById("CTestTidS").innerHTML);
           var MiddelTemp = parseFloat(document.getElementById("CMiddelTemp").innerHTML);

           window.alert(EffRest + " - " + TestTidS + " - " + MiddelTemp + " - " + Areal);

           document.getElementById("Transmission").innerHTML = ((EffRest) / (TestTidS * MiddelTemp * Areal));

           throw new Exception(EffRest);
       }

    </script>
}